body{
    text-align: center;
}
.image{
    height: 100px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.whole{
    margin: auto;
    height: 900px;
    width: 450px;
    border: solid;
    border-color: hsl(0, 0%, 80%);
    border-width: 1px;
}
.text{
    font-size: 20px;
    color: gray;
}
.facebook{
    background-color: #0095F6;
    color: white;
    margin: auto;
    padding: auto;
    width: 300px;
    height: 40px;
    padding-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
.fb{
    float:inline-start;
    padding-bottom: 7px;
    margin: auto;
    padding-left: 20px;
    margin-right: 0px;
}
.textbox{
    height: 40px;
    width: 300px;
    border: solid;
    border-color: hsl(0, 0%, 90%);
    border-width: 1px;
    border-radius: 5px;
    background-color:hsl(0, 0%, 98%);
    padding: 10px;
    font-size: 15px;
    margin-bottom: 5px;
}
.signup{
    height: 40px;
    width: 300px;
    border: none;
    color: white;
    background-color: #4CB5F9;
    font-size: 19px;
    border-radius: 10px;
}
.background2{
    margin: auto;
    padding-top: 35px;
    font-size: 25px;
    height: 70px;
    width: 450px;
    border: solid;
    border-color: hsl(0, 0%, 80%);
    border-width: 1px;
}
a{
    text-decoration: none;
}
.policies{
    text-decoration: none;
    color: hsl(180, 100%, 20%);
}

